<template>
  <NuxtLayout :name="routeName !== 'auth' ? 'default' : 'empty'">
    <NuxtPage />
  </NuxtLayout>
</template>

<script lang="ts" setup>
const route = useRoute();
const routeName = computed(() => route.name);
</script>
