<template>
  <a-layout class="layout">
    <a-layout-header class="layout__header"> {{ title }}</a-layout-header>
    <a-layout-content class="layout__content"> <slot /></a-layout-content>
  </a-layout>
</template>
<script lang="ts" setup>
const route = useRoute();
const title = ref(route.meta.title);
</script>
<style scoped lang="scss">
.layout {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
  }

  &__content {
    height: calc(100vh - 64px);
    padding: 20px;
  }
}
</style>
