<template>
  <div class="container">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
.container {
  height: calc(100vh - 40px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
