<template>
  <a-form
    :model="formState"
    name="basic"
    :label-col="{ span: 8 }"
    :wrapper-col="{ span: 16 }"
    autocomplete="off"
    @finish="onFinish"
    class="form"
    layout="vertical"
  >
    <a-form-item
      label="Почта"
      name="email"
      :rules="[
        {
          required: true,
          message: 'Пожалуйста заполните email!',
          type: 'email',
        },
      ]"
    >
      <a-input v-model:value="formState.email" />
    </a-form-item>

    <a-form-item
      label="Пароль"
      name="password"
      :rules="[{ required: true, message: 'Пожалуйста заполните пароль!' }]"
    >
      <a-input-password v-model:value="formState.password" />
    </a-form-item>

    <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
      <a-button type="primary" html-type="submit" :loading="loading"
        >Отправить</a-button
      >
    </a-form-item>
  </a-form>
</template>
<script lang="ts" setup>
interface FormState {
  email: string;
  password: string;
}

const formState = reactive<FormState>({
  email: "",
  password: "",
});

const token = useCookie("token");
const config = useRuntimeConfig();
const router = useRouter();
const loading = ref(false);

const onFinish = async () => {
  loading.value = true;
  const { data, error, pending } = await useFetch(
    `${config.public.apiBase}login`,
    {
      method: "post",
      body: {
        password: formState.password,
        email: formState.email,
      },
    }
  );

  if (error.value) {
    notification.error({
      message: error.value.data.error,
    });
  }
  if (data.value) {
    token.value = data.value.token;
    router.push("/");
  }

  loading.value = pending.value;
};
</script>

<style lang="scss" scoped>
.form {
  padding: 30px;
  border: 1px solid #000;
  border-radius: 12px;
  width: 500px;
}
</style>
