<template>
  <a-list :loading="pending" item-layout="horizontal" :data-source="users.data">
    <template #renderItem="{ item }">
      <a-list-item>
        <a-skeleton avatar :title="false" :loading="pending" active>
          <a-list-item-meta>
            <template #title>
              <a-space :size="8">
                <span>{{ `${item.first_name} ${item.last_name}` }}</span>
                <a :href="`mailto:${item.email}`">{{ item.email }}</a>
              </a-space>
            </template>
            <template #avatar>
              <a-avatar :src="item.avatar" />
            </template>
          </a-list-item-meta>
        </a-skeleton>
      </a-list-item> </template
  ></a-list>
</template>
<script lang="ts" setup>
definePageMeta({
  middleware: "auth",
  title: "Сотрудники",
});

const { data: users, pending } = await useCustomFetch("users");
</script>
